<QueryList>
{% for query in wincollect_agent_7_custom_queries %}
<Query Id="{{ loop.index0 }}" Path="{{ query.path }}">
<Select Path="{{ query.path }}">{{ query.query }}</Select>
{% if query.suppress_query is defined %}
<Suppress Path="{{ query.path }}">{{ query.suppress_query }}</Suppress>
{% endif %}
</Query>
{% endfor %}
</QueryList>
